.article {
  &--title {
    font-size: 48px;
  }
  &--likes {
    cursor: pointer;
    font-size: 18px;

    &__active {
      cursor: pointer;
      font-size: 18px;
      color: #ffe58f;
    }
  }
}
