body {
  background: #f0f2f5;
}

.logo {
  float: left;
}

.menu {
  float: right;
}

.main {
  padding: 40px 80px;
  background: #ffffff;
}

.footer {
  textAlign: 'center';
}

.form {
  width: 500px;
}
